<?xml version="1.0" encoding="utf-8"?>
<HybridizerMetaConfigFile xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Configuration>
    <ReconstructLoops>false</ReconstructLoops>
  </Configuration>
  <ConfigFile HybridType="" DllFullPath="D:\git\hybridizer-basic-samples\HybridizerBasicSamples_CUDA101\6.WinForms\MandelbrotRenderer\MandelbrotRenderer\bin\x64\Debug\MandelbrotRenderer.exe" PdbFullPath="D:\git\hybridizer-basic-samples\HybridizerBasicSamples_CUDA101\6.WinForms\MandelbrotRenderer\MandelbrotRenderer\bin\x64\Debug\MandelbrotRenderer.pdb" ResultFileName="result.xml" GenerateLineInformation="true" UseFunctionPointers="true" GenerateAllFile="true" GenerateHiddenStubs="true" UseHybridArrays="false" EnableExceptions="false" Features="" DelegateSupport="false" LinesPerFile="0" HybridizerJitterServicePath="C:\Program Files\Altimesh\Hybridizer Essentials\bin\Hybridizer.PTXJitterService.10.0.exe" HybridizerJitterServiceOptions="--gpu-architecture=auto;-G;--relocatable-device-code=false;-lineinfo;--std=c++14;-DNO_EXCEPTION">
    <TraceConfig>
      <MaxStackDumps>100</MaxStackDumps>
      <Enabled>false</Enabled>
      <StackOverflowThreshold>200</StackOverflowThreshold>
      <Level>2</Level>
    </TraceConfig>
    <HybridFlavor FlavorName="CUDA" GenerateCWrapper="false" BuiltInFileNames="C:\Program Files\Altimesh\Hybridizer Essentials\include\hybridizer.cuda.builtins;" />
    <HybridElements HybridType="MandelbrotRenderer.Mandelbrots.Mandelbrot">
      <HybridizedMethod MethodName="IterCount" MethodRename="MandelbrotRendererx46Mandelbrotsx46Mandelbrotx46IterCount" ForceEntryPoint="false">
        <ParameterTypes>
          <string>System.Single</string>
          <string>System.Single</string>
          <string>System.Int32</string>
        </ParameterTypes>
        <GenericParameters />
      </HybridizedMethod>
      <HybridizedMethod MethodName="Render" MethodRename="MandelbrotRendererx46Mandelbrotsx46Mandelbrotx46Render" ForceEntryPoint="true">
        <ParameterTypes>
          <string>System.Int32[]</string>
          <string>System.Single</string>
          <string>System.Single</string>
          <string>System.Single</string>
          <string>System.Single</string>
          <string>System.Single</string>
          <string>System.Single</string>
          <string>System.Int32</string>
          <string>System.Int32</string>
          <string>System.Int32</string>
          <string>System.Int32</string>
          <string>System.Int32</string>
        </ParameterTypes>
        <GenericParameters />
      </HybridizedMethod>
      <HybridizedMethod MethodName="Render2D" MethodRename="MandelbrotRendererx46Mandelbrotsx46Mandelbrotx46Render2D" ForceEntryPoint="true">
        <ParameterTypes>
          <string>System.Int32[]</string>
          <string>System.Single</string>
          <string>System.Single</string>
          <string>System.Single</string>
          <string>System.Single</string>
          <string>System.Single</string>
          <string>System.Single</string>
          <string>System.Int32</string>
          <string>System.Int32</string>
          <string>System.Int32</string>
        </ParameterTypes>
        <GenericParameters />
      </HybridizedMethod>
      <HybridFlavor FlavorName="CUDA" OutputFileName="MandelbrotRenderer.Mandelbrots.Mandelbrot.cu" GenerateCWrapper="true" BuiltInFileNames="C:\Program Files\Altimesh\Hybridizer Essentials\include\hybridizer.cuda.builtins;" />
    </HybridElements>
    <DisplayLicenseDetails>false</DisplayLicenseDetails>
  </ConfigFile>
</HybridizerMetaConfigFile>